/* style pour l'exo 3 */

body {
    /* *couleur de fond de l'élément */
    background-color: pink;
    /* couleur du texte  */
    color: rgba(red, green, blue, alpha);
    /* police de caractère, ici des typos sans empattements ou sans serif ou une police bâton */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2,h3 {
    text-align: center;
    color: lightslategray;
}

p{ 
    background-color: #fff;
}

/* pour cibler l'élément qui a l'id "travail" j'ecris #travail */
/* pour déclarer un nouveau id on précède le nom de l'id du caractère dièse */
#travail {
    background-color: black;
    color: white;

}

/* pour cibler le ou les éléments qui ont la class "vacance" j'écris .vacances */
/* pour déclarer une classe on précède le nom de la class d'un point */
.vacances{
    font-style: italic; 
    color: blue;
}