/* style pour l'exo 3 */

body {
    /* *couleur de fond de l'élément */
    background-color: pink;
    /* couleur du texte  */
    color: rgba(red, green, blue, alpha);
    /* police de caractère, ici des typos sans empattements ou sans serif ou une police bâton */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    /* taille de typo, en px en unités absolues */
    font-size: 80px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

H3 {
    font-size: 20px;
}

h1, h2,h3 {
    text-align: center;
    color: lightslategray;
}

p { 
    background-color: #fff;
}

#travail {
/* On utilise "dièse" pour déclarer un id dans une feuille CSS. " # " permet de cibler id="travail" qui se trouve dans le document HTLM */
    background-color: black;
    color: white;
}

.vacances {
/* On utilise le point ( . ) pour déclarer une class dans une feuille CSS. ( .vacances ) permet de cibler class="vacances" qui se trouve dans le document HTLM. */
    font-style: italic; 
    /* La propriété font-style permet de sélectionner une fonte italic ou oblique parmi celles listées par font-family. */
    color: blue;
}