/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fin reset */

/* Debut transformation page 05_zoning */
body {
    background-color: #f0fff0;
    text-align: center;
    color: white;
}

main{
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgb(255, 255, 255);  */
}

header{
    float: left;
    /* taille en largeur de l'élément */
    width: 1200px;
    /* taille en hauteur de l'élément */
    height: 150px;
    /* Couleur de fond de l'élément */
    background-color: #ff69b4;
    /* Position du texte de l'élément */
}

h1{
    text-align: center;
}

aside{
    float: left;
    width: 200px;
    min-height: 500px;
    background-color: #808000;
    box-sizing: border-box;
    
}
 
section{
    float: left;
    width: 800px;
    height: 500px;
    padding-left: 10px;
    background-color: #ffa500;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

footer {
    width: 1200px;
    height: 150px;
    background-color: #808080;
}

footer p {
    margin: 0 auto;
}

small {
    font-size: 0.7em;
}

