/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin reset  */

/* Zoning 7 - Bicson */

body {
    background-color: #eee8aa;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

h1, p {
    margin: 0;
}

#zoning-7 {
    width: 1000px;
    margin: auto;
    background-color: rgb(196, 31, 59);
}

#zoning-7 header {
    height: 60px;
    background-color: #40a497;
}

#zoning-7 nav {
    height: 30px;
    background-color: #9a40a4;
}

#zoning-7 section {
    height: 600px;
    margin: 20px;
    background-color: pink;
}

.a, .b, .c, .d {
    width: 50%;
    float: left;
    height: 300px;
}

.a {
    background-color: #40a497;
}

.b {
    background-color:#d69f1b;
}

.c {
    background-color:#b1b2d8;
}

.d {
    background-color:#9d9efc;
}

.clear {
    clear: both;
}

footer {
    height: 40px;
    background-color: #40a497;
}

